[submodule "odm_data_waterbury"]
	path = odm_data_waterbury
	url = https://github.com/OpenDroneMap/odm_data_waterbury.git
[submodule "odm_data_aukerman"]
	path = odm_data_aukerman
	url = https://github.com/OpenDroneMap/odm_data_aukerman.git
[submodule "odm_boruszyn_kap"]
	path = odm_boruszyn_kap
	url = https://github.com/merkato/odm_boruszyn_kap.git
[submodule "odm_data_seneca"]
	path = odm_data_seneca
	url = https://github.com/OpenDroneMap/odm_data_seneca.git
