#!/bin/bash -l
#SBATCH --job-name=replace_me --mem=128G
cd $(pwd)/replace_me
sudo docker run -v $(pwd)/images:/code/images -v $(pwd)/odm_orthophoto:/code/odm_orthophoto -v $(pwd)/odm_georeferencing:/code/odm_georeferencing opendronemap/opendronemap
