#!/bin/bash -l
#$ -N replace_me -wd $HOME/replace_me -o $HOME/replace_me/output.$JOB_NAME.$JOB_ID
cd $HOME/replace_me
docker run --rm -d -v $(pwd)/images:/code/images -v $(pwd)/odm_orthophoto:/code/odm_orthophoto -v $(pwd)/odm_georeferencing:/code/odm_georeferencing opendronemap/opendronemap